include ../../mixins/oneline-input.pug
include ../../partials/head.pug
body
    include ../../partials/index-header.pug
    main
        include ../../partials/messages-section.pug
        h2 Forgot password?
        section
        form(method="POST", action="/auth/forgot-password")
            input(type="hidden", name="_csrf", value=csrf)
            
            +oneline-input("Email", "Reset password", {placeholder: "Email", name: "email"})
        p Remember your password? 
            a(href="/auth/login") Login
        p Want to join us? 
            a(href="/auth/register") Register