include ../../mixins/input.pug
include ../../partials/head.pug
body
    include ../../partials/index-header.pug
    main
        include ../../partials/messages-section.pug
        h2 Register
        p Join us now!
        form(method="POST", action="/auth/register")
            input(type="hidden", name="_csrf", value=csrf)

            +input("Company name", {placeholder: "Company name", name: "companyName"})
            br
            +input("Company email address", {placeholder: "company@email.com", name: "companyEmail"})
            br
            +input("User name", {placeholder: "Your name", name: "userName"})
            br
            +input("User email address", {placeholder: "user@email.com", name: "userEmail"})
            br
            +input("Main user password", {type: "password", placeholder: "********", name: "userPassword"})
            br
            +input("Repeat password", {type: "password", placeholder: "********", name: "repeatUserPassword"})
            br
            button(type="submit") Register
            p Already created account? 
                a(href="/auth/login") Login