include ../../mixins/input.pug
include ../../partials/head.pug
body
    include ../../partials/index-header.pug
    main
        include ../../partials/messages-section.pug
        h2 Set password
        p After completing this action you will be able to use our app
        form(method="POST", action=`/auth/set-password?hash=`)
            input(type="hidden", name="_csrf", value=csrf)

            +input("Password to your account", {type: "password", placeholder: "********", name: "newPassword"})
            br
            +input("Repeat password", {type: "password", placeholder: "********", name: "repeatNewPassword"})
            br
            button(type="submit") Set password
    script(src="../../../js/reset-password.js")